
body {
    text-align: center;
}

.buttonContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

/*.scores {
    display: flex;
    justify-content: center;
    gap: 15px;
} */